@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&display=swap');

*, p, .wordblockAnchor, .wordblock
{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4
{
    font-family: 'Comfortaa', cursive;
}

body{
    margin: 0 0 0 0;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

.gamecontainer
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.storycontainer
{
    background-color: rgb(67, 74, 80);
    flex-grow: 1;
    overflow-y: scroll;
}

.storyscroller
{
    margin: 0 auto 0 auto;
    transition: top 2s;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.storySegment > div
{
    padding-top: 1em;
    padding-bottom: 1em;
}

.centerBlock
{
    max-width: 60rem;
    margin: 0 auto 0 auto;
}

.scrollerPadder
{
    flex-grow: 1;
    transition: top 2s height 2s flex-grow 2s;
}

.botbarContainer
{
    background-color: rgb(174, 216, 255);
}

.botbar
{    
    display: flex;
    flex-direction: row;
    max-width: 60rem;
    width: 100%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.wordstashWrapper
{
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    padding: 4px;
    display: inline-block;
    flex-grow: 1;
    margin-right: 8px;
}

.wordstashDescription
{
    font-family: 'Comfortaa', cursive;
}

.wordstash
{
    display: inline-block;
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
}

.continuebutton
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.continuebuttonbutton
{
    font-size: 1em;
}

.wordblock
{
    min-width: 12ch;
    padding: 0.25rem;
    background-color: rgba(156, 156, 156, 0.938);
    border: rgba(255, 255, 255, 0.473);
    border-radius: 4px;
    outline: white;
    outline-width: 4px;
    display: inline-block;
    text-align: center;
    min-height: 1em;
}

.wordblockAnchor
{
    display: inline-block;
    border-radius: 4px;
    min-height: 1.5em;
    margin-top: 0.5em; /* handy if there are multiple rows of these guys*/
}

.wordblockAnchorForceOpen
{
    background-color: rgba(156, 156, 156, 0.938);
    min-width: 12ch;
}

wordblockAnchor + wordblockAnchor
{
    margin: 3rem;
}

.activeWordblock
{
    background-color: orange;
}

.storySegment
{
    display: block;
    opacity: 1;
    transition: opacity 2s;
}

.hiddenStorySegment
{
    display: none;
    opacity: 0;
}